html.no-js.loading(dir=lang == 'ar' ? 'rtl' : 'ltr')
  head
    title Webpack for Building Pug and Sass
body
    div.content
        h1 Webpack Starter for building multipage websites with Pug & Sass
